html {
  box-sizing: border-box;
  color: #2f2e41;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-size: 340px, auto;
  background: linear-gradient(110deg, #FF8072, #6d47d9);
  min-height: calc(100vh - 100px);
  margin: 50px;
}

.container {
  max-width: 1000px;
  margin: auto;
  display: grid;
  /* border: rgba(255, 255, 255, 0.9) solid 5px; */
  border-radius: 15px;
  grid-template-columns: [art] 1fr [form] 1fr;
  
}

form h2 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 8px;
  font-size: 2rem;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  -webkit-appearance: none;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

input:focus::placeholder {
  color: transparent;
}

label[for=emailadress], label[for=password] {
  font-size: 1rem;
}

.registerbtn {
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: #c1689f;
  color: white;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  -webkit-appearance: none;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.registerbtn:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  cursor: pointer;
}

.social-signup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 20px 0px;
}

.signup {
  padding: 12px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  -webkit-appearance: none;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

form a {
  color: #c1689f;
}

.signup:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  cursor: pointer;
}

.seperator {
  display: flex;
  margin: 10px 10px;
}

.seperator hr {
  width: 100%;
}

.seperator div {
  margin: 0 20px;
}

a {
  font-size: 1rem;
  text-decoration: none;
  color: #6d47d9;

}

form {
  display: block;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px 40px;
  border-end-end-radius: 10px;
  border-top-right-radius: 10px;
}

form label {
  text-align: center;
  font-size: 15px;
  margin: 0;
}

form p {
  text-align: center;
  font-size: 15px;
  margin: 0;
}

.art {
  background: rgba(255, 255, 255, 0.4);
  padding: 60px 30px;
  border-top-left-radius: 10px;
  border-end-start-radius: 10px;
}

.art img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.art p {
  font-size: 1.2rem;
  color: white;
  font-weight: 400;
  padding-left: 20px;
  text-align: center;
}

.art h2 {
  text-align: center;
  font-size: 2.2rem;
  margin-top: 40px;
  margin-bottom: 7px; 
  color: white;
}

button {
  /* padding: 14.5px 10px; */
  margin-left: 7px;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #454348; 
  transition: 0.2s all;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media(max-width: 1100px){
.social-signup {
  grid-template-columns: 1fr;
}
}
